DATA_SOURCE=dynamodb
MARKETPLACE_TABLE_NAME=residencia-foundation-marketplace

# Usado somente quando DATA_SOURCE=rds, a partir da Sprint 3
DB_HOST=
DB_PORT=5432
DB_NAME=marketplace
DB_USER=
DB_PASSWORD=
DB_SSL=true
